div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 {{ main.title }}
    p.lead Kick-start your next web app with Angular Fullstack (now with improved js and coffee script syntax)
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}<% if(filters.socketio) { %>
            button.close(type='button', ng-click='main.deleteThing(thing)') ×<% } %><% if(filters.socketio) { %>

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='main.newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='main.addThing()') Add New<% } %>

footer.footer
  .container
    p
      | Angular Fullstack v<%= pkg.version %> by François roland
      = ' | '
      based on a(href='https://twitter.com/tyhenkel') @tyhenkel Angular Fullstack
      = ' | '
      a(href='https://github.com/francois-roland/generator-ngstack/issues?state=open') Issues
